{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
  <div class="col-md-6">
    <h4>Liste des cours : </h4>

    <table class="table table-striped table-dark">
      <thead>
        <th>Nom</th>
        <th>Action</th>
      </thead>
      <tbody>
        {% for l in lessons %}
        <tr>
          <td>{{ l.name }}</td>
          <td>
            <a href="{{ path('lesson_delete', {'id':l.id})}}" class="btn btn-danger btn-xs">Supprimer</a>
            <a href="{{ path('lesson_update', {'id':l.id})}}" class="btn btn-warning btn-xs">Modifier</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <h4>Ajouter un cours: </h4>
    <a href="{{path('lesson_add')}}" class="btn btn-primary" >Cliquez ici >>></a>
  </div>
</div>





{% endblock %}
